*{
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}
body{
  background-color: white;
  margin: 0;
  padding: 0;
  background-image: radial-gradient(circle farthest-corner at 50% -110%, #455295 23%, #000315 65% );
}

@tailwind base;
@tailwind components;
@tailwind utilities;

